<div class="flex h-screen">
  <div class="m-auto">
    <div class="text-8xl font-price">
      🇺🇸 <%= @btcusd %>
    </div>
    <div class="text-8xl font-price">
      🇨🇦 <%= @btccad %>
    </div>
  </div>
</div>